{% extends 'base.html.twig' %}

{% block body %}
    <h1>IvaCondition</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ivaCondition.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ivaCondition.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ivacondition_index') }}"><span class="glyphicon glyphicon-list"></span> {{ 'back to the list'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('ivacondition_edit', { 'id': ivaCondition.id }) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'edit'|trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
