<!DOCTYPE html>
<html>
    <meta charset="UTF-8" />
    <title>{% block title %}Seguimiento de Reparaciones{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/daterangepicker.min.css">
        <link rel="stylesheet" href="/css/datatables.min.css">
        <link rel="stylesheet" href="/css/bootstrap-editable.css"/>
        <link rel="stylesheet" href="/css/featherlight.min.css">
        <link rel="stylesheet" href="/css/bootstrap-slider.min.css">
        <link rel="stylesheet" href="/css/select2.min.css" />
    	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    {% endblock %}
    {% block head_javascripts %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/moment-with-locales.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/daterangepicker.min.js"></script>
        <script src="/js/datatables.min.js"></script>
        <script src="/js/bootstrap-editable.min.js"></script>
        <script src="/js/featherlight.min.js"></script>
        <script src="/js/jquery.highlight.js"></script>
        <script src="/js/bootstrap-slider.min.js"></script>
        <script src='/js/select2.full.min.js'></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
    <body>
        {% block menu %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('homepage')}}">Inicio</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      {% if is_granted("ROLE_SUPER_ADMIN") %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrar <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{path('customer_index')}}">Clientes</a></li>
                          <li><a href="{{path('reparation_index')}}">Reparaciones</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{{path('user_index')}}">Usuarios</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tablas Referencia <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="{{path('ivacondition_index')}}">Condicion frente IVA</a></li>
                           <li><a href="{{path('repairstate_index')}}">Estados de Reparaciones</a></li>
                        </ul>
                      </li>
                      {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a role="button" href="#">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                      {% endif %}

                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('fos_user_profile_edit')}}">Editar Perfil</a></li>
                                <li><a href="{{path('fos_user_change_password')}}">Cambiar contraseña</a></li> 
                            </ul>
                        </li>
                        <li><a href="{{path('fos_user_security_logout')}}">Salir</a></li>
                      {% else %}
                        <li><a href="{{ path('fos_user_resetting_request') }}">¿Olvidaste tu contraseña?</a></li>
                        <li><a href="{{path('fos_user_registration_register')}}">Registrarse</a></li>
                        <li><a href="{{path('fos_user_security_login')}}">Entrar</a></li>
                      {% endif %}
                    </ul>
                  </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
              </nav>
        {% endblock %}
        <div class="container">

            {% for flashMessage in app.session.flashbag.get('success') %}

                <div class="alert alert-success fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{ flashMessage }}</strong>
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('info') %}

                <div class="alert alert-info fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{ flashMessage }}</strong>
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-warning fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{ flashMessage }}</strong>
                </div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('danger') %}

                <div class="alert alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{ flashMessage }}</strong>
                </div>

            {% endfor %}

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
        
        <script>
            
            $(document).ready (function(){
                
                $(".alert").fadeTo(5000, 500).slideUp(500, function(){
                    $(".alert").slideUp(500);
                })   
             });
            
        </script>
    </body>
</html>
