{% extends '::base.html.twig' %}

{% block body %}
    {% block title_description %} <h1><span class="label label-default">{{ 'reparation.all' |trans }}</span></h1>{% endblock %}
    
    <br>
    
    <a class="btn btn-sm btn-default" href="{{ path('reparation_index') }}">Todas</a>
    <a class="btn btn-sm btn-danger" href="{{ path('reparation_delayed') }}">Trabajo retrasado</a>
    <a class="btn btn-sm btn-info" href="{{ path('reparation_ok') }}">Dentro del tiempo pactado</a>
    <a class="btn btn-sm btn-warning" href="{{ path('reparation_warning') }}">Cerca de fecha de entrega</a>
    <a class="btn btn-sm btn-warning" href="{{ path('reparation_without_date') }}">Sin fecha pactada</a>
    <a class="btn btn-sm btn-success" href="{{ path('reparation_finished') }}">Trabajo terminado</a>
    
    
    {{ datatable_render(datatable) }}
{% endblock %}