{% extends 'base.html.twig' %}

{% block body %}
       
    <h1>{{ 'Reparation'|trans }}</h1>
    
    <a class="btn btn-success" href="{{ path('reparation_index') }}">{{ 'back to the list'|trans }}</a>
    <a class="btn btn-primary" href="{{ path('reparation_edit', { 'id': reparation.id }) }}">{{ 'edit'|trans }}</a>
    <a class="btn btn-info" href="{{ path('reparation_export', { 'id': reparation.id }) }}"><span class="glyphicon glyphicon-print"></span> {{ 'Print'|trans }}</a>

    <br>
    <br>
    
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{{ 'Reparation number'|trans }}</th>
                <td>{{ reparation.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Customer'|trans }}</th>
                <td>
                    {{ reparation.customer.name }}
                    <a class="btn btn-link" href="{{ path('customer_show', { 'id': reparation.customer.id }) }}">{{ 'show'|trans }}</a>
                </td>
            </tr>
            <tr>
                <th>{{ 'Brand'|trans }}</th>
                <td>{{ reparation.brand }}</td>
            </tr>
            <tr>
                <th>{{ 'Model'|trans }}</th>
                <td>{{ reparation.model }}</td>
            </tr>
            <tr>
                <th>{{ 'Series'|trans }}</th>
                <td>{{ reparation.series }}</td>
            </tr>
            <tr>
                <th>{{ 'Joystick'|trans }}</th>
                <td>{{ reparation.joystick }}</td>
            </tr>
            <tr>
                <th>{{ 'Battery'|trans }}</th>
                <td>{% if reparation.battery %} {{ 'Yes'|trans }} {% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Charger'|trans }}</th>
                <td>{% if reparation.charger %}{{ 'Yes'|trans }}{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Cables'|trans }}</th>
                <td>{% if reparation.cables %}{{ 'Yes'|trans }}{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Diagnostic'|trans }}</th>
                <td>{{ reparation.diagnostic }}</td>
            </tr>
            <tr>
                <th>{{ 'Client description'|trans }}</th>
                <td>{{ reparation.clientDescription }}</td>
            </tr>
            <tr>
                <th>{{ 'Technical report'|trans }}</th>
                <td>{{ reparation.technicalReport }}</td>
            </tr>
            <tr>
                <th>{{ 'Budget'|trans }}</th>
                <td>$ {{ reparation.budget }}</td>
            </tr>
            <tr>
                <th>{{ 'Payment'|trans }}</th>
                <td>$ {{ reparation.payment }}</td>
            </tr>
            <tr>
                <th>{{ 'Due'|trans }}</th>
                <td>$ {{ reparation.budget - reparation.payment }}</td>
            </tr>
            <tr>
                <th>{{ 'Entry date'|trans }}</th>
                <td>{% if reparation.entryDate %}{{ reparation.entryDate|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Estimate delivery date'|trans }}</th>
                <td>{% if reparation.estimateDeliveryDate %}{{ reparation.estimateDeliveryDate|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Effective delivery date'|trans }}</th>
                <td>{% if reparation.effectiveDeliveryDate %}{{ reparation.effectiveDeliveryDate|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'State'|trans }}</th>
                <td><strong>{{ reparation.state.name }}</strong></td>
            </tr>
            <tr>
                <th>{{ 'Repair time state'|trans }}</th>
                <td> 
                    {% if reparation.repairTimeState == constant('AppBundle\\Entity\\Reparation::TRABAJO_RETRASADO') %}
                        <span class="label label-danger">Trabajo retrasado</span>
                    {% endif %}
                    
                    {% if reparation.repairTimeState == constant('AppBundle\\Entity\\Reparation::DENTRO_TIEMPO_PACTADO') %}
                        <span class="label label-info">Dentro del tiempo pactado</span>
                    {% endif %}
                    
                    {% if reparation.repairTimeState == constant('AppBundle\\Entity\\Reparation::CERCA_FECHA_ENTREGA') %}
                        <span class="label label-warning">Cerca de fecha de entrega</span>
                    {% endif %}
                    
                    {% if reparation.repairTimeState == constant('AppBundle\\Entity\\Reparation::SIN_FECHA_PACTADA') %}
                        <span class="label label-warning">Sin fecha pactada</span>
                    {% endif %}
                    
                    {% if reparation.repairTimeState == constant('AppBundle\\Entity\\Reparation::TRABAJO_TERMINADO_ANULADO') %}
                        <span class="label label-success">Trabajo terminado</span>
                    {% endif %}
                    
                </td>   
            </tr>
            <tr>
                <th>{{ 'Observations'|trans }}</th>
                <td>{{ reparation.observations }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
